.guru-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 21, 31);
    display: flex;
}

.guru-info-container{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}
.guru-info-container > h1{
    position: relative;
    width: 100%;
    font-size: 55px;
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    margin-bottom: -20px;
    text-align: left;
}
.guru-info-container > p{
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 30px;
    color: rgb(170, 170, 170);
    font-weight: 300;
}
.guru-button{
    border: 1px solid white;
    margin-left: 0px;
    margin-top: 20px;
    height: 60px;
    width: 250px;
    border-radius: 50px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to right, #c667c4, #a983e3, #869bf5, #64affc, #51c0f9);
    transition: all 0.2s ease-in-out;
}
.guru-button:hover{
    background: transparent;
}

.guru-imgBackground{
    position: relative;
    width: 35%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    /* background-image: url("../../public/chatbot.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; */
}

@media screen and (max-width:768px) {
    .guru-container{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 140vh;
        margin-bottom: 50px;
    }
    .guru-imgBackground{
        position: relative;
        height: 80vh;
        width: 100vw;
        margin-left: 15px;
        margin-top: -60px;
        margin-bottom: 0px;
    }
    .guru-info-container{
        position: relative;
        height: 90vh;
        width: 100vw;
        margin-left: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .guru-info-container > h1{
        font-size: 6vw;
        margin-bottom: 0.2px;
        width: 90%;
    }
    .guru-info-container > p{
        font-size: 5vw;
        position: relative;
        width: 90%;
    }
    .guru-button{
        height: 45px;
        width: 80%;
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px;
        margin-bottom: 50px;
    }
}
/* MOBILE L */
@media screen and (max-width:425px){
    .guru-container{
        height: 100vh;
        width: 100vw;
        margin-bottom: 0px;
    }
    .guru-imgBackground{
        height: 30vh;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .guru-info-container{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
    }
    .guru-info-container > p{
        font-size: 4.5vw;
        margin-bottom: 0px;
        width: 90vw;
    }
    .guru-info-container > h1{
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 5.5vw;
    }
    .guru-button{
        height: 30px;
        margin-left: 0px;
        padding: 0px;
        margin-right: 0px;
        margin-top: 40px;
    }
}

/* Mobile M */
@media screen and (max-width:375px){
    .guru-container{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 100vh;
        margin-bottom: 0px;
    }
    .guru-imgBackground{
        position: relative;
        height: 30vh;
        width: 100vw;
        margin-left: 15px;
        margin-top: -80px;
        margin-bottom: -80px;
    }
    .guru-info-container{
        position: relative;
        width: 100vw;
        margin-left: 0px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .guru-info-container > h1{
        font-size: 6.5vw;
        margin-bottom: 2px;
        width: 90%;
    }
    .guru-info-container > p{
        font-size: 5.0vw;
        position: relative;
        width: 90%;
        margin-top: 10px;
    }
    .guru-button{
        height: 30px;
        width: 80%;
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-top: 45px;
    }
}
/* iPhone 6 / 7 / 8 */
@media screen and (device-width:375px) and (device-height:667px){
    .guru-container{
        justify-content: flex-end;
    }
    .guru-button{
        margin-left: 0px;
    }
    .guru-imgBackground{
        margin-top: 10px;
    }
    .guru-info-container > p{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 4vw;
    }
    .guru-info-container > h1{
        margin-bottom: 5px;
    }
}
/* iPhone 13, iPhone 12 and iPhone 12 Pro */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) {
        .guru-imgBackground{
            height: 50vh;
            width: 100vw;
        }
        .guru-container{
            height: 100vh;
        }
}
/* iPhone 13 Pro Max and iPhone 12 Pro Max */
@media only screen and (device-width: 428px) and (device-height: 926px) {
    .guru-container{
        height: 100vh;
        margin-bottom: -200px;
    }
    .guru-imgBackground{
        height: 45vh;
        width: 100vw;
        margin-bottom: 0px;
        margin-top: -60px;
    }
    .guru-info-container{
        justify-content: flex-start;
        margin-left: 0px;
    }
    .guru-button{
        margin-left: 0px;
        height: 40px;
    }
}