.guru-home-container {
  height: calc(100vh - 70px);
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}
.guru-home-container > h1 {
  font-size: 2.8vw;
  font-weight: 400;
}
.guru-home-container > p {
  font-size: 1.5vw;
  margin-top: -20px;
  font-weight: 100;
}
.guru-form-container {
  height: 30vh;
  width: 40vw;
  background-color: rgba(229, 226, 226, 0.938);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 30px;
}
.guru-form-container > label {
  font-size: 1.3vw;
  font-weight: 100;
}
.guru-form-container > input {
  height: 25px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid black;
  border-style: dashed;
  text-align: center;
}
.guru-form-container > button {
  height: 25px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid black;
  border-style: dashed;
}
