.home-container{
    height: calc( 100vh - 70px);
    background-color: rgb(10, 21, 31);
    margin-top: 100px;
    display: flex;
    overflow: none;
    align-items: center;
    justify-content: center;
}

.home-first{
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.home-title{
    color: white;
    font-size: 4vw;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-weight: 300;
}
.home-title1{
    color: white;
    font-size: 4.3vw;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-weight: 300;
}
.home-desc{
    position: relative;
    width: 90%;
    font-size: 1.4vw;
    color: rgb(196, 196, 196);
    font-weight: 100;
}
.home-button-learn{
    position: relative;
    height: 40px;
    width: 200px;
    border: 1px solid white;
    margin-left: 20px;
    margin-top: 20px;
    /* height: 60px;
    width: 250px; */
    border-radius: 50px;
    font-size: 1vw;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to right, #c667c4, #a983e3, #869bf5, #64affc, #51c0f9);
    transition: all 0.2s ease-in-out;
}
.home-button-learn:hover{
    background: transparent;
}

.home-imgBackground{
    position: relative;
    margin-left: 10px;
    height: 60%;
    margin-right: 50px;
    width: 50vw;
    /* background-image: url("../../public/growth.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;  */
}
.token-imgContainer{
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 37%;
    height: 30px;
    width: 30px;
    background-image: url("../../public/bitcoin.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media screen and (max-width:768px){
    .home-container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column-reverse;
        padding-top: 0px;
        height: 100vh;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .home-first{
        margin-left: 20px;
        height: 80vh;
        width: 100%;
    }
    .home-title{
        font-size: 4vw;
        margin-bottom: 0px;
    }
    .home-title1{
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .home-desc{
        position: relative;
        font-size: 2.8vw;
    }
    .home-imgBackground{
        height: 200px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 90px;
        margin-bottom: 30px;
    }
    .home-button-learn{
        width: 40vw;
        height: 45px;
        font-size: 2.8vw;
        margin-top:30px;
        margin-left: 0px;
        margin-right: 18px;
    }
    .home-info{
        height: 40vh;
    }
    .home-button-container{
        justify-content: center;
    }
}

/* Mobile L */
@media screen and (max-width: 425px) {
    .home-container{
        height: 100vh;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .home-imgBackground{
        height: 32vh;
        width: 100vw;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-top: 80px;
    }
    .home-first{
        height: 60vh;
    }
    .home-title{
        margin-bottom: 0px;
    }
    .home-desc{
        font-size: 4.0vw;
        margin-bottom: 10px;
        height: 29vh;
        margin-top: 0px;
    }
    .home-button-learn{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 25px;
        height: 30px;
    }
}
/* Mobile M */
@media screen and (max-width: 375px) {
    .home-container{
        height: 100vh;
    }
    .home-info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .home-title1{
        margin-top: 0px;
    }
    .home-first{
        height: 70vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
    }
    .home-desc{
        font-size: 4.8vw;
        margin-bottom: 0px;
        height: 30vh;
    }
    .home-button-learn{
        margin-top: 0px;
        height: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .home-imgBackground{
        height: 30vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-left: 50px;
        width: 100vw;
        margin-bottom: 10px;
    }
} 
/* iphone 6/7/8 */
@media only screen and (device-width:375px) and (device-height:667px) {
    .home-container{
        height: 100vh;
        margin-bottom: 0px;
    }
    .home-desc{
        height: 25vh;
        font-size: 4.0vw;
    }
    .home-button-learn{
        margin-top: 0px;
    }
    .home-imgBackground{
        height: 30vh;
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .home-first{
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-button-learn{
        margin-left: 16px;
        margin-top: 30px;
        height: 30px;
    }
}
/* Mobile S */
@media screen and (max-width:320px){
    .home-desc{
        font-size: 5vw;
    }
}
/* iPhone 13, iPhone 12 and iPhone 12 Pro */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) { 
        .home-container{
            height: 100vh;
        }
        .home-info{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .home-first{
            height: 70vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .home-button-learn{
            margin-top: 10px;
            margin-bottom: -0px;
            margin-left: 20px;
            height: 30px;
        }
        .home-imgBackground{
            height: 30vh;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 70px;
            margin-left: 50px;
            margin-bottom: 10px;
            width: 100vw;
        }
        .home-desc{
            font-size: 4.7vw;
            padding-left: 10px;
            height: 40vh;
            margin-bottom: 0px;
        }
        .home-title{
            margin-bottom: -20px;
            padding-left: 10px;
        }
        .home-title1{
            padding-left: 10px;
        }
    }

/* iPhone 13 Pro Max and iPhone 12 Pro Max */
@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) {
        .home-container{
            height: 100vh;
            margin-bottom: -50px;
        }
        .home-info{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .home-first{
            height: 90vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .home-title1{
            margin-bottom: 0px;
            margin-top: -200px;
            font-size: 10vw;
        }
        .home-title{
            font-size: 9vw;
            margin-bottom: -20px;
        }
        .home-desc{
            font-size: 5vw;
            margin-bottom: 0px;
            height: 40vh;
        }
        .home-button-learn{
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 20px;
            height: 40px;
        }
        .home-imgBackground{
            height: 30vh;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -30px;
            margin-left: 50px;
            width: 100vw;
        }
    }