.home-container{
    height: 80vh;
    background-color: rgb(10, 21, 31);
    padding-top: 200px;
    display: flex;
    overflow: none;
}

.home-first{
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.home-title{
    color: white;
    font-size: 4vw;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-weight: 300;
}
.home-title1{
    color: white;
    font-size: 4.3vw;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-weight: 300;
}
.home-desc{
    position: relative;
    width: 90%;
    font-size: 1.4vw;
    color: rgb(196, 196, 196);
    font-weight: 100;
}
.home-button-learn{
    position: relative;
    height: 7%;
    width: 28%;
    border: 1px solid white;
    margin-left: 20px;
    margin-top: 20px;
    /* height: 60px;
    width: 250px; */
    border-radius: 50px;
    font-size: 1vw;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to right, #c667c4, #a983e3, #869bf5, #64affc, #51c0f9);
    transition: all 0.2s ease-in-out;
}
.home-button-learn:hover{
    background: transparent;
}

.home-imgBackground{
    position: relative;
    margin-left: 10px;
    height: 90%;
    margin-right: 50px;
    /* background-image: url("../../public/growth.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;  */
}
.token-imgContainer{
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 37%;
    height: 30px;
    width: 30px;
    background-image: url("../../public/bitcoin.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media screen and (max-width:768px){
    .home-container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column-reverse;
        padding-top: 0px;
        height: 130vh;
    }
    .home-first{
        margin-left: 20px;
        height: 60vh;
        width: 100%;
    }
    .home-title{
        height: 8vh;
        font-size: 8vw;
    }
    .home-title1{
        height: 9vh;
        font-size: 10vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .home-desc{
        position: relative;
        height: 45vh;
        font-size: 5.2vw;
    }
    .home-imgBackground{
        height: 30vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
    .home-button-learn{
        width: 80vw;
        height: 5vh;
        font-size: 5vw;
        margin-top: 60px;
    }
}

/* iPhone 13 mini, iPhone 12 mini, iPhone 11 Pro, iPhone Xs, and iPhone X */
@media screen and (max-width:375px) {
    .home-container{
        height: 140vh;
    }
    .home-info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .home-first{
        height: 90vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .home-button-learn{
        margin-top: 90px;
    }
    .home-imgBackground{
        height: 30vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-left: 50px;
        width: 100vw;
    }
}