.newsletter-container {
  position: relative;
  height: 90vh;
  width: 100vw;
  background-color: rgb(10, 21, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.newsletter-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  position: relative;
  width: 50%;
}
.newsletter-title {
  font-size: 75px;
  color: white;
  font-weight: 300;
  text-align: left;
  width: 50%;
  margin-bottom: -5px;
}

.newsletter-desc {
  width: 50%;
  font-size: 30px;
  text-align: left;
  color: rgb(192, 192, 192);
  font-weight: 300;
}

.newsletter-form-container {
  display: flex;
  width: 50%;
  align-items: center;
}

.newsletter-form-container > input {
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 30px;
  text-align: center;
}
.invia-button {
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 20px;
  height: 40px;
  width: 200px;
  border-radius: 50px;
  font-size: 1vw;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #c667c4,
    #a983e3,
    #869bf5,
    #64affc,
    #51c0f9
  );
  transition: all 0.2s ease-in-out;
  margin-bottom: 17px;
}

.invia-button:hover {
  background: transparent;
}

.newsletter-imgContainer {
  width: 50vw;
  /* height: 80vh; */
  margin-right: 50px;
}

.newsletter-success-banner{
  position: relative;
  height: 7vh;
  width: 25vw;
  margin-bottom: 30px;
  border: 2px solid rgb(2, 80, 2);
  background-color: rgba(147, 247, 147, 0.74);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
}

@media screen and (max-width: 768px) {
  .newsletter-container{
    position: relative;
    height: 138vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .newsletter-imgContainer {
   position: relative;
   height: 72vh;
   width: 80vw;
   margin-left: 50px;
  }
  .newsletter-info {
   position: relative;
   height: 50vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  }
  .newsletter-title {
    position: relative;
    width: 90%;
    font-size: 8vw;
  }
  .newsletter-desc {
    position: relative;
    width: 90%;
    font-size: 5vw;
  }
  .newsletter-form-container{
     position: relative;
     width: 100vw;
  }
  .newsletter-form-container > input {
    position: relative;
    width: 60%;
    margin-left: 20px;
    height: 45px;
  }
  .invia-button {
   position: relative;
   width: 30%;
   font-size: 5vw;
   height: 45px;
  }
  .newsletter-success-banner{
    height: 5vh;
    width: 80vw;
    font-size: 2.6vw;
  }
}

/* Mobile L */
@media screen and (max-width:428px){
  .newsletter-container{
    height: 80vh;
    margin-top: 0px;
  }
  .newsletter-imgContainer{
    height: 40vh;
    width: 60vw;
  }
  .newsletter-info{
    margin-left: 0px;
  }
  .newsletter-form-container > input{
    height: 30px;
  }
  .newsletter-form-container > button{
    height: 30px;
    width: 25%;
  }
}

/* Mobile M */
@media screen and (max-width: 375px){
  .newsletter-container{
    position: relative;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .newsletter-imgContainer {
   position: relative;
   height: 45vh;
   width: 90vw;
   margin-left: 50px;
  }
  .newsletter-info {
   position: relative;
   height: 50vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  }
  .newsletter-title {
    position: relative;
    width: 90%;
    font-size: 8vw;
  }
  .newsletter-desc {
    position: relative;
    width: 90%;
    font-size: 5vw;
  }
  .newsletter-form-container{
     position: relative;
     width: 100vw;
  }
  .newsletter-form-container > input {
    position: relative;
    width: 50%;
    margin-left: 20px;
    height: 30px;
  }
  .invia-button {
   position: relative;
   width: 25%;
   font-size: 5vw;
   height: 30px;
  }
  .newsletter-success-banner{
    height: 5vh;
    width: 80vw;
    font-size: 2.6vw;
  }
}
/* iPhone 13, iPhone 12 and iPhone 12 Pro */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) {
      .newsletter-container{
        height: 75vh;
      }
      .newsletter-imgContainer{
        height: 40vh;
        width: 100vw;
      }
}
/* iPhone 13 Pro Max and iPhone 12 Pro Max */
@media only screen and (device-width: 428px) and (device-height: 926px) {
  .newsletter-container{
    height: 100vh;
    margin-bottom: -100px;
  }
  .newsletter-imgContainer{
    height: 40vh;
    width: 100vw;
  }
  .newsletter-form-container > input{
    height: 40px;
  }
  .newsletter-form-container > button{
    height: 40px;
    margin-right: 10px;
  }
}