.single-crypto-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 170px;
}
.single-crypto-info{
    position: relative;
    height: 100%;
    width: 50%;
}
.single-crypto-table{
    position: relative;
    height: 100%;
    width: 100%;
}
.single-crypto-table > thead > tr > th {
    color: white;
}
.crypto-table-image{
    position: relative;
    height: 100px;
    width: 100px;
}
.single-crypto-item{
    color: white;
    font-weight: 300;
}
.single-crypto-tbody{
    height: 250px;
}

.single-crypto-description{
    position: relative;
    height: 120%;
    width: 60%;
    color: white;
    padding: 20px;
    text-align: left;
}
 .single-crypto-link{
    position: relative;
    border: 1px solid white;
    height: 30px;
    width: 20%;
    border-radius: 50px;
    font-size: 1.2vw;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to right, #c667c4, #a983e3, #869bf5, #64affc, #51c0f9);
    transition: all 0.2s ease-in-out;
    margin-bottom: 50px;
    margin-top: 30px;
}
.single-crypto-link:hover{
    background: transparent;
}
.single-crypto-link > a {
    text-decoration: none;
    color: white;
}

/* Mobile L */
@media screen and (max-width:425px) {
    .single-crypto-container{
        margin-top: 80px;
    }
    .single-crypto-info{
        width: 100%;
    }
    .crypto-table-image{
        height: 70px;
        width: 70px;
    }
    .single-crypto-table > thead > tr > th{
        font-size: 2.8vw;
    }
    .single-crypto-tbody{
        height: 150px;
    }
    .single-crypto-tbody > tr > td {
        font-size: 2.6vw;
    }
    .single-crypto-description{
        width: 90%;
    }
    .single-crypto-link{
        position: relative;
        width: 80%;
        font-size: 3.5vw;
    }
}
/* iPhone 13 Pro Max and iPhone 12 Pro Max */
@media only screen and (device-width: 428px) and (device-height: 926px) {
    .single-crypto-container{
        margin-top: 100px;
    }
    .single-crypto-info{
        width: 100vw;
    }
    .crypto-table-image{
        height: 70px;
        width: 70px;
    }
    .single-crypto-table > thead > tr > th{
        font-size: 2.8vw;
    }
    .single-crypto-tbody{
        height: 150px;
    }
    .single-crypto-tbody > tr > td {
        font-size: 2.6vw;
    }
    .single-crypto-description{
        width: 90%;
    }
    .single-crypto-link{
        position: relative;
        width: 80%;
        font-size: 3.5vw;
    }
}