.single-new-container{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    margin-top: 70px;
    background-color: rgb(10, 21, 31);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.single-new-wrapper{
    position: relative;
    height: 95%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
.notice-image-container{
    position: relative;
    width: 100%;
    height: 500px;
}
.notice-image-container > img{
    position: relative;
    width: 100%;
    height: 100%;
}
.notice-text{
    position: relative;
    width: 100%;
    margin-bottom: 80px;
}
.notice-text > div > h1{
    position: relative;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 50px;
}
.notice-text > div > h3{
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.notice-text > div > h3:after{
    content: ":";
    margin-left: 10px;
}

.notice-text > div > p{
    position: relative;
    width: 100%;
    text-align: left;
    text-transform: lowercase;
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width:428px) {
    .single-new-wrapper{
        width: 100%;
    }
    .notice-image-container{
        width: 90%;
    }
    .notice-text{
        width: 90%;
        margin-bottom: 50px;
    }
    .notice-image-container{
        height: 350px;
    }
    .notice-text > div > h1{
        font-weight: 600;
    }
    .notice-text > div > h3{
        font-weight: 500;
    }
    .notice-text > div > p{
        font-weight: 300;
    }
}